.container {
  margin: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerA {
  align-items: center;
  width: 50%;
  padding: 20px 50px;
  text-align: center;
  line-height: 1.5rem;
}
.containerA ol {
  background-color: var(--lightBlue);
  padding-left: 100px;
}

.containerA li {
  text-align: left;
}

.containerA h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.containerA h5 {
  font-size: 1.5rem;
  line-height: 3.5rem;
}

.containerB {
  width: 50%;
}

.imageContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  position: unset !important;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  object-fit: cover;
  animation-name: fade;
  animation-duration: 1s;
  z-index: -2;
}

.image:hover {
  padding: 0.5rem;
  transform: scale(1.1);
}

.button {
  margin-top: 10px;
  width: 60%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  color: var(--lightBlue);
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--primaryColor);
}
.button:hover {
  align-items: flex-end;
  background-color: var(--NavContact);
  transform: 0.75s;
  font-weight: bold;
}
.content {
  text-align: justify;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .containerA h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .containerA h5 {
    padding: 20px;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .content {
    font-size: smaller;
  }
  .button {
    width: 40%;
    padding: 8px;
  }
}

@media (701px = width<= 1200px) {
  .imageContainer {
    width: 110%;
  }
}
@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .containerA {
    padding: 2px 5px;
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
  }
  .containerA h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .containerA h5 {
    padding: 25px;
    font-size: 1.5rem;
    line-height: 3.5rem;
  }
  .containerB {
    width: 100%;
  }
}
